html {
    box-sizing: border-box;
    font-family: Verdana;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    background-color: #F0EBCE;
}

a {
    color: #395144;
    text-decoration: none;
    font-weight: bolder;
    font-size: 1.2em;
    margin-bottom: 1em;
}

a:hover {
    text-decoration: underline;
}

.home {
    margin-left: 50%;
}

.container {
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
    padding: 2em;
    background-color: #AA8B56;
}